h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background-color: #c5cde3;
}

img.resize {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: double;
    border-color: #C23C3C;
    padding: 10px;
}

figure.resize {
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    height: auto;
    display: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

figcaption {
    font-style: italic;
    text-align: center;
}

.photo {
    padding 10px;
}

.chart {
    padding-top: : 1000px;
}

footer {
    text-align: center;
    font-family: Lobster;
    color: #F86D6D;
    padding: 30px;
    font-size: 1.1em;
    line-height: inherit;
}

.Italians {
    display: flex;
    flex-basis: 50%
}

full-width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.text {
    flex-basis: 10%;
    position: relative;
    text-align: left;
    padding: 15px;
    height: auto;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
}